// Variables

// Theme font and color variations
$theme-styles: (
	classic: (
		fonts: (
			serif: ('Nunito', sans-serif),
			sans-serif: ('Nunito', sans-serif)
		),
		colors: (
			blue:  #00A3FF,
			green: #00FFFF,
			red:   #FF2A67
		)
	),
	bold: (
		fonts: (
			serif: ('Nunito', sans-serif),
			sans-serif: ('Nunito', sans-serif)
		),
		colors: (
			blue:  #00A3FF,
			green: #00FFFF,
			red:   #FF2A67
		)
	),
	minimal: (
		fonts: (
			serif: ('Nunito', sans-serif),
			sans-serif: ('Nunito', sans-serif)
		),
		colors: (
			blue:   #00A3FF,
			green:  #00FFFF,
			red:    #FF2A67
		)
	)
);

// Monospace font
$font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace !default;


// Colors

// Primary color for the gray palette
$color-primary:                        RGBA(0, 0, 0, 0.63) !default;
$color-secondary:											 RGBA(255, 255, 255, 0.90) !default;
$color-dark-transparency:							 rgba(0, 0, 0, 0.45) !default;
$color-light-transparency:						 rgba(255, 255, 255, 0.45) !default;
$color-blue:													 #00A3FF !default;
$color-green:													 #00FFFF !default;
$color-yellow:												 #EBFF00 !default;
$color-red:														 #FF2A67 !default;

// Base
$color-body-text:                      $color-secondary !default;
$color-meta:                           $color-secondary !default;
$color-body-bg:                        $color-dark-transparency !default;

// Highlight
$color-highlight-text:                 $color-secondary !default;
$color-highlight-bg:                   $color-dark-transparency !default;

// Code blocks
$color-code-border:                    color-light-transparency !default;
$color-code-bg:                        $color-dark-transparency !default;
$color-bold-code-bg:                   $color-secondary !default;

// Tables
$color-table-border:                   color-light-transparency !default;
$color-table-bg:                       $color-dark-transparency !default;
$color-bold-table-bg:                  $color-dark-transparency !default;

// HR
$color-hr-border:                     color-light-transparency !default;

// Buttons
$color-btn-text:                       $color-green !default;
$color-btn-bg:                         $color-primary !default;
$color-btn-alt-text:                   white !default;
$color-btn-alt-bg:                     $color-red !default;
$color-bold-btn-shadow:                rgba(0, 0, 0, 0.64) 0px 20px 30px -10px !default;
$color-gray-btn-alt-bg:                $color-dark-transparency !default;

// Forms
$color-input-text:                     $color-secondary !default;
$color-input-bg:                       $color-dark-transparency !default;
$color-input-border:                   color-light-transparency !default;
$color-classic-input-bg:               $color-dark-transparency !default;
$color-bold-input-bg:                  $color-dark-transparency !default;

// Cards
$color-card-text:                      $color-secondary !default;
$color-card-bg:                        $color-dark-transparency !default;
$color-card-border:                    color-light-transparency !default;
$color-classic-card-shadow:            rgba(0, 0, 0, 0.64) 0px 20px 30px -10px !default;
$color-bold-card-border:               color-light-transparency !default;

// Main nav
$color-nav-link-text:                  $color-secondary !default;
$color-nav-link-border:                $color-primary !default;
$color-nav-mobile-bg:                  $color-dark-transparency !default;
$color-nav-mobile-border:              color-light-transparency !default;
$color-nav-mobile-overlay:             rgba(0, 0, 0, 0.64) 0px 20px 30px -10px !default;
$color-bold-nav-mobile-border:         color-light-transparency !default;
$color-bold-nav-mobile-overlay:        rgba(0, 0, 0, 0.64) 0px 20px 30px -10px !default;

// Header
$color-header-border:                  color-light-transparency !default;
$color-bold-header-border:             color-light-transparency !default;

// Footer
$color-footer-border:                  color-light-transparency !default;
$color-bold-footer-border:             color-light-transparency !default;

// Announcement
$color-anncmnt-bg:                     $color-dark-transparency !default;
$color-bold-anncmnt-bg:                $color-dark-transparency !default;
$color-bold-anncmnt-text:              $color-secondary !default;

// Sections
$color-sect-border:                    color-light-transparency !default;
$color-bold-sect-border:               color-light-transparency !default;
$color-classic-sect-underline:         $color-primary !default;
$color-sect-input-bg:                  $color-dark-transparency !default;
$color-primary-sect-bg:                $color-dark-transparency !default;
$color-primary-sect-text:              $color-secondary !default;
$color-primary-sect-btn-text:          $color-secondary !default;
$color-primary-sect-btn-bg:            $color-dark-transparency !default;
$color-secondary-sect-bg:              $color-dark-transparency !default;
$color-secondary-sect-code-border:     color-light-transparency !default;
$color-secondary-sect-code-bg:         $color-dark-transparency !default;
$color-secondary-sect-table-border:    color-light-transparency !default;
$color-secondary-sect-table-bg:        $color-dark-transparency !default;
$color-secondary-sect-hr-border:       color-light-transparency !default;

// Boxed layout
$color-boxed-bg:                       $color-dark-transparency !default;
$color-boxed-border:                   color-light-transparency !default;
$color-bold-boxed-border:              color-light-transparency !default;


// Dark mode
// Base
$color-dark-body-text:                 $color-secondary !default;
$color-dark-body-bg:                   $color-dark-transparency !default;

// Highlight
$color-dark-highlight-text:            $color-secondary !default;
$color-dark-highlight-bg:              $color-dark-transparency !default;

// Code blocks
$color-dark-code-border:               color-light-transparency !default;
$color-dark-code-bg:                   $color-dark-transparency !default;
$color-dark-bold-code-bg:              $color-dark-transparency !default;

// Tables
$color-dark-table-border:              color-light-transparency !default;
$color-dark-table-bg:                  $color-dark-transparency !default;
$color-dark-bold-table-bg:             $color-dark-transparency !default;

// HR
$color-dark-hr-border:                 color-light-transparency !default;

// Buttons
$color-dark-btn-alt-text:              $color-secondary !default;
$color-dark-btn-alt-bg:                $color-dark-transparency !default;
$color-dark-bold-btn-shadow:           #343e47 !default;

// Forms
$color-dark-input-text:                $color-secondary !default;
$color-dark-input-bg:                  $color-dark-transparency !default;

// Cards
$color-dark-card-bg:                   $color-dark-transparency !default;
$color-dark-card-border:               color-light-transparency !default;

// Main nav
$color-dark-nav-link-text:             $color-secondary !default;
$color-dark-nav-mobile-bg:             $color-dark-transparency !default;
$color-dark-nav-mobile-border:         color-light-transparency !default;
$color-dark-nav-mobile-overlay:        rgba(0, 0, 0, 0.64) 0px 20px 30px -10px !default;

// Header
$color-dark-header-border:             color-light-transparency !default;

// Footer
$color-dark-footer-border:             color-light-transparency !default;

// Announcement
$color-dark-anncmnt-bg:                $color-dark-transparency !default;

// Sections
$color-dark-sect-border:                color-light-transparency !default;
$color-dark-primary-sect-btn-text:      $color-secondary !default;
$color-dark-primary-sect-btn-bg:        $color-dark-transparency !default;
$color-dark-primary-sect-btn-alt-bg:    $color-dark-transparency !default;
$color-dark-secondary-sect-bg:          $color-dark-transparency !default;

// Boxed layout
$color-dark-boxed-bg:                  $color-dark-transparency !default;
$color-dark-boxed-border:              color-light-transparency !default;


// Media breakpoints
$media-breakpoints: (
	xs: 480px,
	sm: 640px,
	md: 800px,
	lg: 960px,
	xl: 1200px
) !default;

// Spacing
$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: ($spacer * .55556),
	2: ($spacer * .83333),
	3: ($spacer * 1.11111),
	4: ($spacer * 1.66667),
	5: ($spacer * 2.22222),
	6: ($spacer * 3.33333),
	7: ($spacer * 5)
) !default;

// Sizing
$sizes: (
	0: 0,
	25: 25%,
	33: 33%,
	50: 50%,
	100: 100%,
	auto: auto
) !default;

// Container max widths
$container-sizes: (
	small: 570px,
	medium: 770px,
	large: 1170px,
	xlarge: 100%
) !default;

// Grid
$grid-cells: 12 !default;
$grid-gap: 1.66667rem !default;
$grid-gap-small: 1.11111rem !default;
$grid-gap-large: 2.22222rem !default;
